<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/racas}"> <img width="5%" alt="The Cat"
				th:src="@{https://cdn.pixabay.com/photo/2016/06/28/13/50/cat-1484725_960_720.png}" />
			</a>
			<span style="color: white;">The Cat API - By Anderson Souza</span>
		</div>
	</div>
</nav>

</html>